matrix:
  include:
    - rvm: 1.8.7
      gemfile: gemfiles/Gemfile.rails3-ruby1.8.7
    - rvm: 1.9.2
      gemfile: gemfiles/Gemfile.rails3-ruby1.9.2+
      env: COVERAGE=true
    - rvm: 1.9.3
      gemfile: gemfiles/Gemfile.rails3-ruby1.9.2+
      env: COVERAGE=true
    - rvm: 1.9.3
      gemfile: gemfiles/Gemfile.rails4-ruby1.9.2+
      env: COVERAGE=true
    - rvm: 2.0.0
      gemfile: gemfiles/Gemfile.rails3-ruby1.9.2+
      env: COVERAGE=true
    - rvm: 2.0.0
      gemfile: gemfiles/Gemfile.rails4-ruby1.9.2+
      env: COVERAGE=true
    - rvm: 2.1.2
      gemfile: gemfiles/Gemfile.rails3-ruby1.9.2+
      env: COVERAGE=true
    - rvm: 2.1.2
      gemfile: gemfiles/Gemfile.rails4-ruby1.9.2+
      env: COVERAGE=true
    - rvm: ree
      gemfile: gemfiles/Gemfile.rails3-ruby1.8.7
    - rvm: jruby
      gemfile: gemfiles/Gemfile.rails3-ruby1.9.2+
      env: COVERAGE=true
    - rvm: jruby
      gemfile: gemfiles/Gemfile.rails4-ruby1.9.2+
      env: COVERAGE=true